#pricing {
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: rgb(255, 255, 255);

    padding: 50px 0;
  }
  
  .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .arrow {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.086); 
    /* Semi-transparent background */
    /* backdrop-filter: blur(10px); */
     /* Blurred backdrop */
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

  .arrow:hover {
    transform: translateY(-10px);
 /* Slightly less transparent on hover */
    box-shadow: 10px 50px 40px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  }
  
  .icon-container {
    text-align: center;
    width: 18%;
    padding: 20px 10px;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    background-color: #00aaff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .icon:hover {
    background-color: #007acc; /* Darker blue on hover */
  }
  
  .icon-container p:first-child {
    font-weight: bold;
    margin: 10px 0 5px 0;
  }
  
  .description {
    font-size: 1.3em;
    color: #ddd;
    margin: 0.5em 0;
  }
  
  .caption {
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #eaeaf1;
    font-size: 1.8em;
    margin: 10px 0;
    margin: 0.5em 0;
  }
  
  .arrow::before,
  .arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid transparent;
  }
  
  .arrow::before {
    left: -20px;
  }
  
  .arrow::after {
    right: -20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .arrow {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .icon-container {
      width: 90%;
      padding: 10px 0;
    }
  
    .icon {
      width: 40px;
      height: 40px;
    }
  
    .description {
      font-size: 1em;
    }
  
    .caption {
      font-size: 1.5em;
    }
  }
  
  @media (max-width: 480px) {
    .arrow {
      padding: 10px;
    }
  
    .icon-container {
      width: 100%;
      padding: 5px 0;
    }
  
    .icon {
      width: 30px;
      height: 30px;
    }
  
    .description {
      font-size: 0.9em;
    }
  
    .caption {
      font-size: 1.2em;
    }
  }
  
  /* Uncomment and adjust as needed
  .bottom-arrows {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
  }
  
  .bottom-arrow {
    width: 45%;
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  */
  